fastapi==0.116.1
uvicorn==0.35.0
pydantic==2.11.7
python-dotenv==1.1.1
mysql-connector-python==9.4.0
pytz==2025.2
httpx==0.28.1
requests==2.32.4
python-a2a==0.5.4
langchain==0.3.26
langchain-core==0.3.72
langchain-openai==0.3.28
langchain-mcp-adapters==0.1.11
mcp==1.18.0
